@mixin borderRounding {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: gray;
}

@mixin backgroundColor {
  background: rgba(204, 204, 204, 0.5);
}

@mixin preNextBtns {
  display: inline-block;
  cursor:pointer;
  color: rgba(204, 204, 204, 0.5);
  font-size: 60px;
  background-color: transparent;
  border-style: none;
}

.imageBrowserContainer {
  text-align: center;
  padding: 300px 0 200px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .searchBarContainer {
    margin-bottom: 400px;
    vertical-align: center;

    .searchBarInputBox {
      @include borderRounding;
      @include backgroundColor;
      width: 10%;
      height: 25px;
      display: inline-block;
      text-align: left;
      font-size: 15px;
      vertical-align: center;
      color: black;
    }

    .searchBtn {
      @include borderRounding;
      @include backgroundColor;
      cursor:pointer;
      padding: 4px 2px 4px 2px;
      font-weight: bold;
      color: dimgray;
    }
  }

  .searchHistoryBox {
    @include backgroundColor;
    @include borderRounding;
    display: inline-block;
    width: 10%;
    margin: 0 3.07% 0 0;
    list-style: none;
    text-align: left;
    padding-left: 0;
  }

  .thumbnailContainer {
    display: flex;
    justify-content: center;

    .leftBtn {
      @include preNextBtns;
      order: 1
    }

    .searchResultContainer {
      @include borderRounding;
      @include backgroundColor;
      vertical-align: center;
      display: inline-block;
      order: 2;
      width: 90%;
      max-width: 1690px;


      .searchEntry {
        @include borderRounding;
        margin: 2px;
        width: 160px;
        height: 90px;
        cursor:pointer;
      }
    }

    .rightBtn {
      @include preNextBtns;
      order: 3
    }
  }
}