div {
  text-align: center;
}

span {
  text-align: center;

}

.container {
  color: white;
  background-color: #184157;
  border: 3px solid lightsteelblue;
  border-radius: 7px;
  /*max-height: 500px;*/
  max-width: 500px;
  margin: 15px;

  .location {
    padding-top: 15px;
  }

  .center_sub_container {
    height: 140px;

    .left {
      position: relative;
      left: 30px;
      float: left;

      .weather_icon_text {
        position: relative;
        top: -20px;

      }
    }

    .center {
      position: relative;
      font-size: 32px;
      top: 40px
    }

    .right {
      position: relative;
      padding-top: 40px;
      right: 20px;
      float: right;
      text-align: left;
      font-size: 10px;
      height: 140px;
    }
  }

  .bottom_sub_container {
    clear: both;
    position: relative;
    display: block;
    width: 100%;
    text-align: center;

    .cell {
      position: relative;
      display: inline-block;
      width: 95px;
      font-size: 15px;
      bottom: 10px;
    }
  }

}